name: Deploy Infrastructure

on: [push]

env:
  TF_VAR_homelab_ip: localhost
  TF_VAR_domain_base: liberato.dev
  TF_VAR_vps_ip: 46.224.228.205
  TF_VAR_access_service_token_name: infra-direct-access
  TF_VAR_state_bucket_name: tf-state-bucket


jobs:
    deploy:
        runs-on: ubuntu-latest
        permissions:
          id-token: write
          contents: read
        steps:
            - name: Checkout code
              uses: actions/checkout@v2

            - name: Set up Terraform
              uses: hashicorp/setup-terraform@v1

            - name: Setup Cloudflared
              run: |
                curl -L https://github.com/cloudflare/cloudflared/releases/latest/download/cloudflared-linux-amd64 -o cloudflared
                chmod +x cloudflared
                sudo mv cloudflared /usr/local/bin/

            - name: Import Secrets from Vault
              uses: hashicorp/vault-action@v3
              with:
                url: https://vault.liberato.dev
                method: jwt
                role: github-actions-role # The role name configured in Vault
                path: infra
                secrets: |
                    infra/data/cf_credentials account_id | TF_VAR_cloudflare_account_id ;
                    infra/data/cf_credentials api_token | TF_VAR_cloudflare_api_token ;
                    infra/data/cf_domain_zone_id zone_id | TF_VAR_cloudflare_zone_id ;
                    infra/data/docker_registry_admin_password password | TF_VAR_docker_registry_admin_password ;
                    infra/data/infra_private_ssh_key key | SSH_KEY ;
                    infra/data/minio_password password | TF_VAR_minio_root_password ;
                    infra/data/ssh_service_token token | TF_VAR_access_service_token ;
                    infra/data/cf_service_token id | TOKEN_ID ;
                    infra/data/cf_service_token secret | TOKEN_SECRET ;

            - name: Establish Cloudflared Tunnel to Homelab
              run: |
                cloudflared access tcp \
                  --hostname home.liberato.dev \
                  --url localhost:22 \
                  --service-token-secret $TOKEN_SECRET \
                  --service-token-id $TOKEN_ID &
                sleep 5
            
            - name: Initialize Terraform
              working-directory: stages/infra
              run: terraform init

            - name: Apply Terraform configuration
              working-directory: stages/infra
              run: terraform apply -auto-approve
